$rose: #e7717d;
$green: #afd275;
$beige: #c2b9b0;
$brown: #7e685a;
$grey: #c2cad0;
$light_grey: #eeeeee;


$coral:#e98074;
$dark_coral: #e85a4f;
$dark_grey: #8e8d8a;
$warm_beige: #d8c3a5;


$night_blue: #44318d;

$bordo: #59253a;
$rose_bordo: #78244c;
$rose_beige: #895061;

$sea: #17b890;
$sky: #9dc5bb;
$light-sky: #dee5e5;
$dark_sky: #5e807f; 
$dark_green: #4b7f52;
$lemon: #d1e9ad;
$red: #e94f37;
$dark_grey_blue: #395e66;
$dark_blue: #242038;
$red_pink: #a71d31;



$shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.301);
$outline-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.342);